<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./../includes/head') %>
</head>

<body class="d-flex h-100">
    <div class="cover-container d-flex w-100 h-100 flex-column">
        <%- include('./../includes/header') %>
            <main class="container p-3">
                
            </main>
    </div>
    <%- include('./../includes/footer') %>
</body>

</html>