<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./../includes/head') %>
</head>

<body class="min-h-screen">
    <main class="h-screen">
        <div class="container mx-auto px-2 md:px-4 h-screen flex justify-center items-center">
            <div class="card w-full md:w-1/2 lg:w-1/4 bg-neutral text-neutral-content shadow-xl mx-auto">
                <div class="card-body">
                    <form id="register-form" method="POST">
                        <h2 class="card-title justify-center">Register</h2>
                        <div class="w-full grid grid-cols-1 gap-4">
                            <label class="form-control w-full">
                                <div class="label">
                                    <span class="label-text">
                                        Name
                                    </span>
                                </div>
                                <input type="text" class="input input-bordered w-full" name="name" />
                            </label>
                            <label class="form-control w-full">
                                <div class="label">
                                    <span class="label-text">
                                        Email
                                    </span>
                                </div>
                                <input type="email" class="input input-bordered w-full" name="email" />
                            </label>
                            <label class="form-control w-full">
                                <div class="label">
                                    <span class="label-text">
                                        Password
                                    </span>
                                </div>
                                <input type="password" class="input input-bordered w-full" name="password" />
                            </label>
                            <label class="form-control w-full">
                                <div class="label">
                                    <span class="label-text">
                                        Password confirmation
                                    </span>
                                </div>
                                <input type="password" class="input input-bordered w-full" name="passwordConfirmation" />
                            </label>
                        </div>
                    </form>
                    <div class="card-actions mt-4">
                        <button type="submit" form="register-form" class="btn btn-block btn-outline btn-primary">Register</button>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>

</html>