<div>
    {{#if products.length}}
        <ul class="border border-gray-200 rounded overflow-hidden shadow-md">
            {{#each products}}
                <li class="px-4 py-2 bg-white hover:bg-sky-100 hover:text-sky-900 border-b last:border-none border-gray-200 transition-all duration-300 ease-in-out">
                    {{this.title}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <h1>
            No products
        </h1>
    {{/if}}
</div>
