<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/head') %>
</head>

<body class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
        <%- include('./includes/header') %>
        <main class="px-3">
            <a href="products" class="btn btn-primary">
                Buy
            </a>
        </main>
    </div>
    <%- include('./includes/footer') %>
</body>

</html>