<div class="hero  bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-full">
            <h1 class="text-5xl font-bold">
                There is no products
            </h1>
            <p class="py-6">
                Try creating some products
            </p>
            <a href="products/create" class="btn btn-primary">
                Create
            </a>
        </div>
    </div>
</div>